Repository Cybersun-Industries/space-station-14, pull requests merged in 2024-12, with the labels that each got.

#32 ghost
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/animated.png
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/icon.png
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Untriaged

#36 more rarity for mice
  Resources/Prototypes/GameRules/pests.yml
Labels: Changes: No C#, S: Untriaged

#33 BUILD IT YOURSELVES NEEEEEEEERDS
  runclient.bat
  runserver.bat
Labels: Changes: No C#, S: Untriaged

#37 locale tweak of tweak
  Resources/Locale/ru-RU/backmen/magic/shadowkin.ftl
  Resources/Locale/ru-RU/backmen/species/shadowkin.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, size/XS

#38 Update clientCommandPerms.yml
  Resources/clientCommandPerms.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#35 fixes lost components and inventory
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#40 Radium fixes
  Resources/Prototypes/Corvax/sponsor.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cyberlibs.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Player/foxes.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/foxes.yml
  Resources/Prototypes/_Backmen/Polymorphs/polymorph.yml
  Resources/Prototypes/_Backmen/Species/felinid.yml
  Resources/Prototypes/_Backmen/Species/foxes.yml
  Resources/Prototypes/_Backmen/Species/oni.yml
  Resources/Prototypes/_Backmen/Species/shadowkin.yml
  Resources/migration.yml
Labels: Changes: No C#, S: Untriaged, size/M

#39 Mega localixation fix
  Resources/Locale/ru-RU/backmen/markings/felinid.ftl
  Resources/Locale/ru-RU/backmen/markings/shadowkin.ftl
  Resources/Locale/ru-RU/backmen/species/species.ftl
  Resources/Locale/ru-RU/markings/reptilian.ftl
  Resources/Locale/ru-RU/markings/voxes.ftl
  Resources/Locale/ru-RU/radium/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/species/species.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/migration.yml
Labels: Changes: No C#, Changes: Localization, S: Untriaged, size/XS

#43 fix radium events
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/Radium/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Radium/GameRules/events.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#41 update HealthAnalyzerWindow and locale
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Resources/Locale/ru-RU/medical/components/health-analyzer-component.ftl
Labels: Changes: UI, Changes: Localization, S: Untriaged, size/XS

#42 Ultra locale fix
  Resources/Locale/ru-RU/_lib.ftl
  Resources/Locale/ru-RU/administration/admin-alerts.ftl
  Resources/Locale/ru-RU/round-end/round-end-system.ftl
  Resources/Locale/ru-RU/tips.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, Status: Awaiting Changes, size/XS

#44 FIX
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: Changes: No C#

#46 Tweak Ahelp & Ghost window size. Raise TTS volume multiplier.
  Content.Client/Administration/UI/Bwoink/BwoinkWindow.xaml
  Content.Client/Administration/UI/CustomControls/PlayerListControl.xaml
  Content.Client/Audio/ContentAudioSystem.cs
  Content.Client/UserInterface/Systems/Ghost/Controls/GhostTargetWindow.xaml
  Content.Client/UserInterface/Systems/Ghost/Controls/GhostTargetWindow.xaml.cs
Labels: Changes: UI, S: Untriaged, size/XS

#47 foot species fixes
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/shadowkin.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#51 It didnt upload png in RSI. a single. png.
  Resources/Textures/Backmen/test/base/rsi/Textures/hlstaff/combatboots.rsi/equipped-FEET-digi.png
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, size/XS

#50 hotfix footprints
  Resources/Prototypes/Corvax/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: Changes: No C#, S: Untriaged

#48 Footstep fix
  Content.Server/CorvaxNext/Footprints/EntitySystems/FootprintsSystem.cs
Labels: S: Untriaged, size/XS

#52 1 line lmao airlock
  Content.Shared/Doors/Systems/SharedAirlockSystem.cs
Labels: S: Untriaged, size/XS

#53 hotfix unati emote
  Resources/Locale/ru-RU/chat/emotes.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, size/XS

#54 fix следов
  Content.Server/CorvaxNext/Footprints/EntitySystems/FootprintsSystem.cs
Labels: S: Untriaged, size/XS

#56 Update launcher-connecting.ftl
  Resources/Locale/ru-RU/launcher/launcher-connecting.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, size/XS

#55 фикс шейдера
  Resources/Textures/Shaders/stealth.swsl
Labels: Changes: No C#, Changes: Shaders, S: Untriaged, size/XS
