Repository Cybersun-Industries/space-station-14, pull requests merged in 2025-05, with the labels that each got.

#88 Flash device retexture
  Resources/Textures/Objects/Weapons/Melee/flash.rsi/burnt.png
  Resources/Textures/Objects/Weapons/Melee/flash.rsi/flash.png
  Resources/Textures/Objects/Weapons/Melee/flash.rsi/flashing.png
  Resources/Textures/Objects/Weapons/Melee/flash.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, size/XS

#91 Upstream 08.05
  Resources/Maps/Corvax/corvax_maus.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/XL

#93 Sponsor remove
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/fox_parts.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/slime_cat_parts.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/slime_fox_parts.yml
  Resources/Prototypes/Corvax/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged

#94 Изменения в автозамене
  Resources/Locale/ru-RU/corvax/speech/speech-chatsan.ftl
Labels: Changes: No C#, Changes: Localization

#96 Stasis locale fix
  Resources/Locale/ru-RU/radium/actions/changeling.ftl
Labels: Changes: No C#, Changes: Localization, S: Needs Review, S: Untriaged, size/XS

#98 Add corvax interfaces into packaging
  Content.Packaging/ClientPackaging.cs
  Content.Packaging/ServerPackaging.cs
Labels: S: Untriaged, size/S

#105 Autodebug tweaks + CCVars cleanup
  Content.Radium.Common/CCVar/CCVars.Discord.cs
  Content.Radium.Common/CCVar/CCVars.Radium.cs
  Content.Radium.Common/CCVar/CCVars.Viewport.cs
  Content.Radium.Common/CCVar/CCvars.Radium.cs
  Content.Radium.Server/Voting/StationAutodebug.Misc.cs
  Content.Radium.Server/Voting/Systems/StationAutodebugSystem.cs
  Resources/ConfigPresets/Build/development.toml
Labels: S: Needs Review, S: Untriaged, size/M

#110 New items in loadout
  Resources/Locale/ru-RU/_radium/prototypes/loadouts/dummy_entities.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Radium/Loadouts/Miscellaneous/trinkents.yml
  Resources/Prototypes/_Radium/Loadouts/dummy_entities.yml
Labels: Changes: No C#, Changes: Localization, S: Untriaged
