Repository Cybersun-Industries/space-station-14, pull requests merged in 2025-06, with the labels that each got.

#129 Loc.tweaks.2
  Resources/Locale/ru-RU/armor/armor-examine.ftl
  Resources/Locale/ru-RU/botany/components/plant-holder-component.ftl
  Resources/Locale/ru-RU/botany/swab.ftl
Labels: Changes: No C#, size/S

#132 Goobstream 11.05
  Content.Client/Administration/AdminNameOverlay.cs
  Content.Client/Administration/Systems/AdminInfoSystem.cs
  Content.Client/Options/UI/Tabs/AdminOptionsTab.xaml.cs
  Content.Goobstation.Shared/SetSelector/SelectableSetPrototype.cs
  Content.Goobstation.Shared/SetSelector/SetSelectorSystem.cs
  Content.Server/Administration/Systems/AdminInfoSystem.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Dragon/Components/DragonComponent.cs
  Content.Server/Dragon/DragonSystem.cs
  Content.Shared/Administration/PlayerInfo.cs
  Content.Shared/Devour/SharedDevourSystem.cs
  Content.Shared/Dragon/DragonEvents.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Shoes/sandals.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Uniforms/dress.yml
  Resources/Textures/_Goobstation/Clothing/Shoes/Specific/sandals.rsi/equipped-FEET.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Specific/sandals.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Specific/sandals.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Specific/sandals.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/Shoes/Specific/sandals.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Uniforms/Other/openshoulder_dress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Other/openshoulder_dress.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Uniforms/Other/openshoulder_dress.rsi/meta.json
Labels: Changes: Sprites, Changes: UI, S: Untriaged, size/S

#137 Goobstream 18.06
  .github/workflows/publish.yml
  Content.Client/Audio/ContentAudioSystem.cs
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Goobstation.Client/Entry/EntryPoint.cs
  Content.Goobstation.Client/IoC/ContentGoobClientIoC.cs
  Content.Goobstation.Client/Voice/IVoiceChatManager.cs
  Content.Goobstation.Client/Voice/VoiceChatClientManager.cs
  Content.Goobstation.Client/Voice/VoiceStreamManager.cs
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
  Content.Goobstation.Server/Administration/Commands/EquipTo.cs
  Content.Goobstation.Server/Content.Goobstation.Server.csproj
  Content.Goobstation.Server/Entry/EntryPoint.cs
  Content.Goobstation.Server/IoC/ServerGoobContentIoC.cs
  Content.Goobstation.Server/Voice/IVoiceChatServerManager.cs
  Content.Goobstation.Server/Voice/VoiceChatServerManager.cs
  Content.Goobstation.Server/Voice/VoiceChatSystem.cs
  Content.Goobstation.Shared/Voice/VoiceChatNetMessage.cs
  Content.Packaging/ServerPackaging.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/_EinsteinEngines/Medical/CPR/CPRSystem.cs
  Content.Shared/Clothing/Components/ClothingComponent.cs
  Content.Shared/Damage/DamageSpecifier.cs
  Directory.Packages.props
  Resources/Changelog/GoobChangelog.yml
  Resources/Locale/en-US/_Goobstation/emotes.ftl
  Resources/Locale/en-US/_Goobstation/job/job-description.ftl
  Resources/Locale/en-US/_Goobstation/job/job-names.ftl
  Resources/Locale/en-US/_Goobstation/job/job-supervisors.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/_Goobstation/voice.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/_Floofstation/Voice/speech_emotes.yml
  Resources/Prototypes/_Goobstation/Entities/Effects/bluespace_acidifier.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Misc/misc.yml
  Resources/Prototypes/_Goobstation/Roles/play_time_trackers.yml
  Resources/Prototypes/_Shitmed/Entities/Specific/Abductor/tools.yml
  Resources/Textures/_Goobstation/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Devices/pda.rsi/pda-highcommand.png
  Resources/Textures/_Goobstation/Objects/Misc/id_cards.rsi/idhighcommand.png
  Resources/Textures/_Goobstation/Objects/Misc/id_cards.rsi/meta.json
Labels: Changes: Sprites, Changes: UI, S: Untriaged, size/L

#138 Devil translation
  Resources/Locale/ru-RU/_Goobstation/devil/contracts/contract.ftl
  Resources/Locale/ru-RU/_Goobstation/devil/devil.ftl
  Resources/Prototypes/_Goobstation/Devil/clauses.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Devil.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/DevilClauses.xml
Labels: Changes: No C#, S: Untriaged, size/M
