Repository Cybersun-Industries/space-station-14, pull requests merged in 2025-01, with the labels that each got.

#63 updated GhostReJoinSystem
  Content.Server/Backmen/Ghost/GhostReJoinSystem.cs
  Resources/Locale/ru-RU/backmen/ghost/respawn.ftl
Labels: Changes: Localization, S: Untriaged, size/XS

#62 Fax expansion
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/Fax/FaxSystem.cs
  Content.Shared/CCVar/CCVars.Discord.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/Chat/ChatChannelExtensions.cs
  Content.Shared/Chat/ChatSelectChannel.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/chat/ui/chat-box.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/chat/ui/chat-box.ftl
  Resources/Locale/ru-RU/fax/fax.ftl
Labels: Changes: UI, Changes: Localization, S: Untriaged, size/XS

#65 Update labeler-review.yml
  .github/workflows/labeler-review.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#64 Borg expansion
  Content.Shared/Silicons/Borgs/SharedBorgSystem.cs
  Resources/Locale/ru-RU/radium/medical/surgery/healing.ftl
  Resources/Locale/ru-RU/radium/prototypes/entities/objects/specific/robotics/borg_modules.yml
  Resources/Prototypes/Radium/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Radium/Medical/Surgery/healing.yml
  Resources/Prototypes/Radium/Stacks/medical_stacks.yml
  Resources/Prototypes/borg_types.yml
Labels: Changes: Localization, S: Untriaged, size/XS
