Repository Cybersun-Industries/space-station-14, pull requests merged in 2025-08, with the labels that each got.

#157 Ru chatsanitazer fix
  Resources/Locale/ru-RU/_radium/speech/speech-chatsan.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: Changes: No C#, S: Untriaged, size/M

#162 Tweaks 0508
  Resources/Locale/ru-RU/_Goobstation/prototypes/entities/objects/devices/circuitboards/machine.ftl
  Resources/Locale/ru-RU/_Goobstation/prototypes/martialarts/kravmaga.ftl
  Resources/Locale/ru-RU/_Goobstation/traits/traits.ftl
Labels: Changes: No C#, S: Untriaged, size/S

#164 Adding ahelp mute button to game
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Content.Radium.Common/CCVar/CCVars.Radium.cs
  Resources/Locale/ru-RU/administration/bwoink.ftl
Labels: Changes: UI, S: Untriaged, size/S

#163 Add jukebox volume slider (adds radium version of jukebox)
  Content.Radium.Client/Audio/Jukebox/JukeboxBoundUserInterface.cs
  Content.Radium.Client/Audio/Jukebox/JukeboxSystem.cs
  Content.Radium.Client/Audio/Jukebox/RadiumJukeboxMenu.xaml
  Content.Radium.Client/Audio/Jukebox/RadiumJukeboxMenu.xaml.cs
  Content.Radium.Server/Audio/Jukebox/JukeboxSystem.cs
  Content.Radium.Shared/Audio/Jukebox/JukeboxComponent.cs
  Content.Radium.Shared/Audio/Jukebox/JukeboxUi.cs
  Content.Radium.Shared/Audio/Jukebox/SharedJukeboxSystem.cs
  Resources/Locale/ru-RU/_radium/prototypes/entities/structures/machines/jukebox.ftl
  Resources/Prototypes/_Radium/Entities/Structures/Machines/jukebox.yml
  Resources/migration.yml
Labels: Changes: UI, S: Untriaged, size/M
