Repository Cybersun-Industries/space-station-14, pull requests merged in 2025-04, with the labels that each got.

#79 Colored gloves resprite
  Resources/Textures/Clothing/Hands/Gloves/Color/black.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/Color/color.rsi/icon.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, size/XS

#81 Chem duffel retexture
  Resources/Textures/Clothing/Back/Duffels/chemistry.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/chemistry.rsi/icon.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Untriaged, size/XS

#82 Remove category from freeze/unfreeze actions
  Content.Server/Administration/Systems/AdminVerbSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#84 Chemical conteiners volume rebalance
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: Changes: No C#, S: Untriaged, size/S

#86 Resolve surgery artifacts
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml.cs
Labels: Changes: UI, size/XS
